/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header #logo img {
    max-height: 30px;
  }
}

body {
  background: #fff;
  color: #2f3138;
  font-family: "Montserrat", serif;
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  #navbarlink {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #navbarlink ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    color: #fff;
  }

  #navbarlink li {
    position: relative;
    color: #fff;
  }

  #navbarlink>ul>li {
    white-space: nowrap;
    padding: 10px 10px 5px 12px;
  }
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 60px;
}

h1 {
  background: linear-gradient(
    to bottom,
    transparent 50%,
    #ff855c92 50%
  );
  padding: 0 5px;
  max-width: 40%;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #ef8a68;
}

.section-header {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #ff5922;
  bottom: 0;
  left: calc(50% - 25px);
}
/*--------------------------------------------------------------
# Welcome Section
--------------------------------------------------------------*/
#welcome {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-image.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#welcome:before {
  content: "";
  background: rgba(45, 45, 45, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#welcome h5 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 3px 3px rgb(119, 4, 4);
}

#welcome h5 span {
  color: #fefefeeb;
}

#welcome p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 2px 2px rgb(119, 4, 4);
}

#welcome .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.play-button {
  width: 80px;
  height: 80px;
  background-color: #742416; /* Red color, you can change it to your desired color */
  background: radial-gradient(#550f01 50%, rgba(255, 255, 255, 0.15) 52%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
}

#play-button-modal {
  display: none;
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
}

#play-button-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height:60vh;
  z-index:9000;
  align-items: center;
}

@media screen and (min-width: 767px) {
  #play-button-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height:40vh;
    z-index:9000;
    align-items: center;
  }
} 


@media screen and (min-width: 1024px) {
  #play-button-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height:30vh;
    z-index:9000;
    align-items: center;
  }
} 


@media screen and (min-width: 2560px) {
  #play-button-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height:10vh;
    z-index:9000;
    align-items: center;
  }
} 

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#side-pane {
  position: absolute;
  left: 10px;
  top: 80px;
  z-index: 1000;
  height: 200px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 8px rgba(145, 24, 105, 0.8); 
}

#ts-icon {
  height: 40px;
  width: 40px;
}

.modal-body {
  height:80vh;
}

.nav-item {
  height:70px;
}

#venue {
  margin-top: 50px;
}

/* Map elements */

#map {
  height: 500px;
  margin-bottom: 10px;
  padding: 10px;
}

#map-container {
  position: relative;
}


/* Custom CSS for venue cluster icon */
.venue-cluster-icon {
  background-color: rgba(255, 255, 255, 0.609);
  /* Set background color to transparent */
  color: #b7065b;
  /* Text color of the cluster icon */
  border-radius: 50%;
  /* Border radius to make the icon circular */
  font-family: cursive;
  text-align: center;
  /* Center-align text */
  font-size: 30px;
  /* Font size of the text */
  line-height: 40px;
  /* Line height to vertically center the text */
  cursor: pointer;
  /* Change cursor to pointer on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Add shadow for depth */
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  padding: 5%;
}

/* Style the image inside the cluster icon */
.venue-cluster-icon img {
  width: 40px;
  /* Set width of the image */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 5px;
  /* Add spacing between image and count */
}


#result-container {
  display: flex;
  align-items: center; /* Align items vertically in the container */
}

#search-container {
  position: absolute;
  top:2px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  min-width: 200px;
  max-width: 200px;
}


#searchBtn {
  position:absolute;
  box-shadow: 0 1px 4px rgba(145, 24, 105, 0.8); 
  background-color: rgba(255, 255, 255, 0.995);
  padding: 10px;
  top:10px;
  padding: 10px;
  height: 40px;
  width: 40px; 
  margin-left: 200px; /* Add margin to separate the button from the container */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#searchIcon {
  width: auto; /* Set width to auto to maintain the original size of the image */
  height: auto; /* Set height to auto to maintain aspect ratio */
  max-width: 100%; /* Ensure the image does not exceed the width of the button */
  max-height: 100%; /* Ensure the image does not exceed the height of the button */
}


#search-results {
  max-height: 300px;
  overflow-y: scroll;

}



#searchIcon {
  height: 20px;
  width: 20px;
}



#navContainer.container-fluid {
  align-items: center;
  padding:10px;
}

#weatherContainer{
  width:20vh;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  /* transform: rotate(180deg) translateY(140px);
  background: white;
  z-index: 8000; */
}

/* Style for startBtn */
#startBtn {
  background-color: #f42880;
  margin-bottom: 5px;
  width: 90%;
}

/* Style for destBtn */
#destBtn {
  background-color: #941c50;
  width: 90%;
}

/*--------------------------------------------------------------
# Highlights Section
--------------------------------------------------------------*/
.card {
  margin:10px;
}

/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/
#subscribe{
  background-color: antiquewhite;
  height:30vh;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; 
}

#subscribe-container {
  width: 300px; 
  margin: 0 auto; 
  text-align: center; 
  padding-top: 0px; 
  margin-bottom: 50px;
}

/* .form-control {
  width: 100%; 
  box-sizing: border-box; 
  padding: 10px; 
  margin-right: 10px;
} */

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
#footer{
  text-align: center;
}
